
.img{

 background-color: blue;
}

.capturar{
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: blue;
  
}

.captura{
  height: 700px;
}

.patos{

  width:900px;
  height:600px;
  background-image: url("./assets//img/pato.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

